.portfolio__container {
  margin: 20px;
  // display: flex;
  // justify-content: center;
  // flex-wrap: wrap;

  & .portfolio__header {
    text-align: center;
    font-weight: 400;
  }

  & .portfolio__table {

    & .headers-container {
        background-color: #0B0E11;
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        align-items: center;
  
        & > div {
          width: 100%;
          padding: 8px 3px;
          text-align: center;
        }
      }

      & .portfolio__name {
        color: #0B0E11;
        font-size: 15px;
        font-weight: 600;
        margin: 30px 0;
        width: fit-content;
      }
     
  }
  
}
